
/* background */

#background{
box-sizing: border-box;

position: absolute;
width: 1920px;
height: 1080px;
left: 0px;
top: 0px;

background: #2F3A32;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* recycling gorl */

.img{
    position: absolute;
    width: 793px;
    height: 968px;
    left: 72px;
    top: 112px;
}


/* rizzcycle */


position: absolute;
width: 225px;
height: 70px;
left: 190px;
top: 42px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 75px;

color: #FFFFFF;


/* Title */


position: absolute;
width: 827px;
height: 222px;
left: 960px;
top: 318px;



/* Learn button */


position: absolute;
width: 371px;
height: 115px;
left: 960px;
top: 657px;



/* Learn */


position: absolute;
width: 225px;
height: 70px;
left: 1635px;
top: 44px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 75px;

color: #FFFFFF;



/* Logo */


position: absolute;
width: 100px;
height: 100px;
left: 72px;
top: 27px;
